.homeContainer {
    min-height: calc(100vh - 60px);
    width: 100%;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;
    justify-items: center;
    margin: 1rem;
}

.navBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    grid-auto-rows: minmax(0, 1fr);
    width: 100%;
    height: 60px;
    margin-bottom: 1rem;
    border-bottom: solid 1px#006571;
    font-weight: 600;
    color: #006571;
}

.filterContainer {
    justify-content: start;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    gap: 0.5rem;
}

.sortContainer {
    justify-self: end;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    gap: 0.5rem;
}

.navBar select {
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    color: #006571;
    font-weight: 500;
    background-color: #f9a826;
}

.pagesContainer {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.navBar button {
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    color: #006571;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: #f9a826;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
}

.navBar button:disabled {
    background: linear-gradient(to bottom right, #8a2be2, #4b0082);
    transition: background-color 0.3s ease-in-out;
    color: #ffffff;
    box-shadow: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navBar span {
        display: none;
    }
}
